.bimg{
    background-image: url('https://wallpapercave.com/wp/wp7874491.jpg');
}

.timg{
    background-image: url('https://wallpapercave.com/wp/wp2823522.jpg');
}

.himg{
    background-image: url('https://wallpapercave.com/wp/wp4747196.jpg');
}

.fimg{
    background-image: url('https://wallpapercave.com/wp/wp8916448.jpg');
}

.trimg{
    background-image: url('https://wallpapercave.com/wp/wp2037798.jpg');
}